@font-face {
    font-family: "qiusicons";
    src: url("fonts/qiusicons.ttf") format("truetype"),
        url("fonts/qiusicons.woff") format("woff"),
        url("fonts/qiusicons.woff2") format("woff2"),
        url("fonts/qiusicons.eot") format("embedded-opentype"),
        url("fonts/qiusicons.svg") format("svg");
}

.pi {
    font-family: 'qiusicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pi-align-center:before {
    content: "\f101";
}
.pi-align-justify:before {
    content: "\f102";
}
.pi-align-left:before {
    content: "\f103";
}
.pi-align-right:before {
    content: "\f104";
}
.pi-android:before {
    content: "\f105";
}
.pi-angle-double-down:before {
    content: "\f106";
}
.pi-angle-double-left:before {
    content: "\f107";
}
.pi-angle-double-right:before {
    content: "\f108";
}
.pi-angle-double-up:before {
    content: "\f109";
}
.pi-angle-down:before {
    content: "\f10a";
}
.pi-angle-left:before {
    content: "\f10b";
}
.pi-angle-right:before {
    content: "\f10c";
}
.pi-angle-up:before {
    content: "\f10d";
}
.pi-apple:before {
    content: "\f10e";
}
.pi-arrow-circle-down:before {
    content: "\f10f";
}
.pi-arrow-circle-left:before {
    content: "\f110";
}
.pi-arrow-circle-right:before {
    content: "\f111";
}
.pi-arrow-circle-up:before {
    content: "\f112";
}
.pi-arrow-down-left:before {
    content: "\f113";
}
.pi-arrow-down-right:before {
    content: "\f114";
}
.pi-arrow-down:before {
    content: "\f115";
}
.pi-arrow-left:before {
    content: "\f116";
}
.pi-arrow-right-arrow-left:before {
    content: "\f117";
}
.pi-arrow-right:before {
    content: "\f118";
}
.pi-arrow-up-left:before {
    content: "\f119";
}
.pi-arrow-up-right:before {
    content: "\f11a";
}
.pi-arrow-up:before {
    content: "\f11b";
}
.pi-arrows-alt:before {
    content: "\f11c";
}
.pi-arrows-h:before {
    content: "\f11d";
}
.pi-arrows-v:before {
    content: "\f11e";
}
.pi-at:before {
    content: "\f11f";
}
.pi-backward:before {
    content: "\f120";
}
.pi-ban:before {
    content: "\f121";
}
.pi-bars:before {
    content: "\f122";
}
.pi-bell:before {
    content: "\f123";
}
.pi-bitcoin:before {
    content: "\f124";
}
.pi-bolt:before {
    content: "\f125";
}
.pi-book:before {
    content: "\f126";
}
.pi-bookmark-fill:before {
    content: "\f127";
}
.pi-bookmark:before {
    content: "\f128";
}
.pi-box:before {
    content: "\f129";
}
.pi-briefcase:before {
    content: "\f12a";
}
.pi-building:before {
    content: "\f12b";
}
.pi-calculator:before {
    content: "\f12c";
}
.pi-calendar-minus:before {
    content: "\f12d";
}
.pi-calendar-plus:before {
    content: "\f12e";
}
.pi-calendar-times:before {
    content: "\f12f";
}
.pi-calendar:before {
    content: "\f130";
}
.pi-camera:before {
    content: "\f131";
}
.pi-car:before {
    content: "\f132";
}
.pi-caret-down:before {
    content: "\f133";
}
.pi-caret-left:before {
    content: "\f134";
}
.pi-caret-right:before {
    content: "\f135";
}
.pi-caret-up:before {
    content: "\f136";
}
.pi-cart-plus:before {
    content: "\f137";
}
.pi-chart-bar:before {
    content: "\f138";
}
.pi-chart-line:before {
    content: "\f139";
}
.pi-chart-pie:before {
    content: "\f13a";
}
.pi-check-circle:before {
    content: "\f13b";
}
.pi-check-square:before {
    content: "\f13c";
}
.pi-check:before {
    content: "\f13d";
}
.pi-chevron-circle-down:before {
    content: "\f13e";
}
.pi-chevron-circle-left:before {
    content: "\f13f";
}
.pi-chevron-circle-right:before {
    content: "\f140";
}
.pi-chevron-circle-up:before {
    content: "\f141";
}
.pi-chevron-down:before {
    content: "\f142";
}
.pi-chevron-left:before {
    content: "\f143";
}
.pi-chevron-right:before {
    content: "\f144";
}
.pi-chevron-up:before {
    content: "\f145";
}
.pi-circle-fill:before {
    content: "\f146";
}
.pi-circle-off:before {
    content: "\f147";
}
.pi-circle-on:before {
    content: "\f148";
}
.pi-circle:before {
    content: "\f149";
}
.pi-clock:before {
    content: "\f14a";
}
.pi-clone:before {
    content: "\f14b";
}
.pi-cloud-download:before {
    content: "\f14c";
}
.pi-cloud-upload:before {
    content: "\f14d";
}
.pi-cloud:before {
    content: "\f14e";
}
.pi-code:before {
    content: "\f14f";
}
.pi-cog:before {
    content: "\f150";
}
.pi-comment:before {
    content: "\f151";
}
.pi-comments:before {
    content: "\f152";
}
.pi-compass:before {
    content: "\f153";
}
.pi-copy:before {
    content: "\f154";
}
.pi-credit-card:before {
    content: "\f155";
}
.pi-database:before {
    content: "\f156";
}
.pi-delete-left:before {
    content: "\f157";
}
.pi-desktop:before {
    content: "\f158";
}
.pi-directions-alt:before {
    content: "\f159";
}
.pi-directions:before {
    content: "\f15a";
}
.pi-discord:before {
    content: "\f15b";
}
.pi-dollar:before {
    content: "\f15c";
}
.pi-download:before {
    content: "\f15d";
}
.pi-eject:before {
    content: "\f15e";
}
.pi-ellipsis-h:before {
    content: "\f15f";
}
.pi-ellipsis-v:before {
    content: "\f160";
}
.pi-envelope:before {
    content: "\f161";
}
.pi-eraser:before {
    content: "\f162";
}
.pi-euro:before {
    content: "\f163";
}
.pi-exclamation-circle:before {
    content: "\f164";
}
.pi-exclamation-triangle:before {
    content: "\f165";
}
.pi-external-link:before {
    content: "\f166";
}
.pi-eye-slash:before {
    content: "\f167";
}
.pi-eye:before {
    content: "\f168";
}
.pi-facebook:before {
    content: "\f169";
}
.pi-fast-backward:before {
    content: "\f16a";
}
.pi-fast-forward:before {
    content: "\f16b";
}
.pi-file-edit:before {
    content: "\f16c";
}
.pi-file-excel:before {
    content: "\f16d";
}
.pi-file-export:before {
    content: "\f16e";
}
.pi-file-import:before {
    content: "\f16f";
}
.pi-file-o:before {
    content: "\f170";
}
.pi-file-pdf:before {
    content: "\f171";
}
.pi-file-word:before {
    content: "\f172";
}
.pi-file:before {
    content: "\f173";
}
.pi-filter-fill:before {
    content: "\f174";
}
.pi-filter-slash:before {
    content: "\f175";
}
.pi-filter:before {
    content: "\f176";
}
.pi-flag-fill:before {
    content: "\f177";
}
.pi-flag:before {
    content: "\f178";
}
.pi-folder-open:before {
    content: "\f179";
}
.pi-folder:before {
    content: "\f17a";
}
.pi-forward:before {
    content: "\f17b";
}
.pi-gift:before {
    content: "\f17c";
}
.pi-github:before {
    content: "\f17d";
}
.pi-globe:before {
    content: "\f17e";
}
.pi-google:before {
    content: "\f17f";
}
.pi-hashtag:before {
    content: "\f180";
}
.pi-heart-fill:before {
    content: "\f181";
}
.pi-heart:before {
    content: "\f182";
}
.pi-history:before {
    content: "\f183";
}
.pi-home:before {
    content: "\f184";
}
.pi-hourglass:before {
    content: "\f185";
}
.pi-id-card:before {
    content: "\f186";
}
.pi-image:before {
    content: "\f187";
}
.pi-images:before {
    content: "\f188";
}
.pi-inbox:before {
    content: "\f189";
}
.pi-info-circle:before {
    content: "\f18a";
}
.pi-info:before {
    content: "\f18b";
}
.pi-instagram:before {
    content: "\f18c";
}
.pi-key:before {
    content: "\f18d";
}
.pi-language:before {
    content: "\f18e";
}
.pi-link:before {
    content: "\f18f";
}
.pi-linkedin:before {
    content: "\f190";
}
.pi-list:before {
    content: "\f191";
}
.pi-lock-open:before {
    content: "\f192";
}
.pi-lock:before {
    content: "\f193";
}
.pi-map-marker:before {
    content: "\f194";
}
.pi-map:before {
    content: "\f195";
}
.pi-megaphone:before {
    content: "\f196";
}
.pi-microphone:before {
    content: "\f197";
}
.pi-microsoft:before {
    content: "\f198";
}
.pi-minus-circle:before {
    content: "\f199";
}
.pi-minus:before {
    content: "\f19a";
}
.pi-mobile:before {
    content: "\f19b";
}
.pi-money-bill:before {
    content: "\f19c";
}
.pi-moon:before {
    content: "\f19d";
}
.pi-palette:before {
    content: "\f19e";
}
.pi-paperclip:before {
    content: "\f19f";
}
.pi-pause:before {
    content: "\f1a0";
}
.pi-paypal:before {
    content: "\f1a1";
}
.pi-pencil:before {
    content: "\f1a2";
}
.pi-percentage:before {
    content: "\f1a3";
}
.pi-phone:before {
    content: "\f1a4";
}
.pi-play:before {
    content: "\f1a5";
}
.pi-plus-circle:before {
    content: "\f1a6";
}
.pi-plus:before {
    content: "\f1a7";
}
.pi-pound:before {
    content: "\f1a8";
}
.pi-power-off:before {
    content: "\f1a9";
}
.pi-print:before {
    content: "\f1aa";
}
.pi-qius:before {
    content: "\f1ab";
}
.pi-qrcode:before {
    content: "\f1ac";
}
.pi-question-circle:before {
    content: "\f1ad";
}
.pi-question:before {
    content: "\f1ae";
}
.pi-reddit:before {
    content: "\f1af";
}
.pi-refresh:before {
    content: "\f1b0";
}
.pi-replay:before {
    content: "\f1b1";
}
.pi-reply:before {
    content: "\f1b2";
}
.pi-save:before {
    content: "\f1b3";
}
.pi-search-minus:before {
    content: "\f1b4";
}
.pi-search-plus:before {
    content: "\f1b5";
}
.pi-search:before {
    content: "\f1b6";
}
.pi-send:before {
    content: "\f1b7";
}
.pi-server:before {
    content: "\f1b8";
}
.pi-share-alt:before {
    content: "\f1b9";
}
.pi-shield:before {
    content: "\f1ba";
}
.pi-shopping-bag:before {
    content: "\f1bb";
}
.pi-shopping-cart:before {
    content: "\f1bc";
}
.pi-sign-in:before {
    content: "\f1bd";
}
.pi-sign-out:before {
    content: "\f1be";
}
.pi-sitemap:before {
    content: "\f1bf";
}
.pi-slack:before {
    content: "\f1c0";
}
.pi-sliders-h:before {
    content: "\f1c1";
}
.pi-sliders-v:before {
    content: "\f1c2";
}
.pi-sort-alpha-alt-down:before {
    content: "\f1c3";
}
.pi-sort-alpha-alt-up:before {
    content: "\f1c4";
}
.pi-sort-alpha-down:before {
    content: "\f1c5";
}
.pi-sort-alpha-up:before {
    content: "\f1c6";
}
.pi-sort-alt-slash:before {
    content: "\f1c7";
}
.pi-sort-alt:before {
    content: "\f1c8";
}
.pi-sort-amount-down-alt:before {
    content: "\f1c9";
}
.pi-sort-amount-down:before {
    content: "\f1ca";
}
.pi-sort-amount-up-alt:before {
    content: "\f1cb";
}
.pi-sort-amount-up:before {
    content: "\f1cc";
}
.pi-sort-down:before {
    content: "\f1cd";
}
.pi-sort-numeric-alt-down:before {
    content: "\f1ce";
}
.pi-sort-numeric-alt-up:before {
    content: "\f1cf";
}
.pi-sort-numeric-down:before {
    content: "\f1d0";
}
.pi-sort-numeric-up:before {
    content: "\f1d1";
}
.pi-sort-up:before {
    content: "\f1d2";
}
.pi-sort:before {
    content: "\f1d3";
}
.pi-spinner:before {
    content: "\f1d4";
}
.pi-star-fill:before {
    content: "\f1d5";
}
.pi-star:before {
    content: "\f1d6";
}
.pi-step-backward-alt:before {
    content: "\f1d7";
}
.pi-step-backward:before {
    content: "\f1d8";
}
.pi-step-forward-alt:before {
    content: "\f1d9";
}
.pi-step-forward:before {
    content: "\f1da";
}
.pi-stop-circle:before {
    content: "\f1db";
}
.pi-stop:before {
    content: "\f1dc";
}
.pi-stopwatch:before {
    content: "\f1dd";
}
.pi-sun:before {
    content: "\f1de";
}
.pi-sync:before {
    content: "\f1df";
}
.pi-table:before {
    content: "\f1e0";
}
.pi-tablet:before {
    content: "\f1e1";
}
.pi-tag:before {
    content: "\f1e2";
}
.pi-tags:before {
    content: "\f1e3";
}
.pi-telegram:before {
    content: "\f1e4";
}
.pi-th-large:before {
    content: "\f1e5";
}
.pi-thumbs-down-fill:before {
    content: "\f1e6";
}
.pi-thumbs-down:before {
    content: "\f1e7";
}
.pi-thumbs-up-fill:before {
    content: "\f1e8";
}
.pi-thumbs-up:before {
    content: "\f1e9";
}
.pi-ticket:before {
    content: "\f1ea";
}
.pi-times-circle:before {
    content: "\f1eb";
}
.pi-times:before {
    content: "\f1ec";
}
.pi-trash:before {
    content: "\f1ed";
}
.pi-truck:before {
    content: "\f1ee";
}
.pi-twitter:before {
    content: "\f1ef";
}
.pi-undo:before {
    content: "\f1f0";
}
.pi-unlock:before {
    content: "\f1f1";
}
.pi-upload:before {
    content: "\f1f2";
}
.pi-user-edit:before {
    content: "\f1f3";
}
.pi-user-minus:before {
    content: "\f1f4";
}
.pi-user-plus:before {
    content: "\f1f5";
}
.pi-user:before {
    content: "\f1f6";
}
.pi-users:before {
    content: "\f1f7";
}
.pi-verified:before {
    content: "\f1f8";
}
.pi-video:before {
    content: "\f1f9";
}
.pi-vimeo:before {
    content: "\f1fa";
}
.pi-volume-down:before {
    content: "\f1fb";
}
.pi-volume-off:before {
    content: "\f1fc";
}
.pi-volume-up:before {
    content: "\f1fd";
}
.pi-wallet:before {
    content: "\f1fe";
}
.pi-whatsapp:before {
    content: "\f1ff";
}
.pi-wifi:before {
    content: "\f200";
}
.pi-window-maximize:before {
    content: "\f201";
}
.pi-window-minimize:before {
    content: "\f202";
}
.pi-wrench:before {
    content: "\f203";
}
.pi-youtube:before {
    content: "\f204";
}
